* {
    align-items: center;
    text-align: center;;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #CBF3F0;
    color: #FF9F1C;
}

body {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

main {
    display:flex;
    flex-direction: column;
    width: 600px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #FFFFFF;
    border-color: #4a4a4a;
    font-weight: bold;
}

.scoreboard {
    display: flex;
    justify-content: space-between; /* Pushes items to the edges */
    align-items: center; /* Aligns them vertically */
    width: 100%; /* Ensures full width */
}